section
{
    display: flex;
   flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
input,button
{
  height: 30px;
}
div
{
  display: flex;
 flex-direction: column;
 gap:30px;
 margin: 16px auto;
 width: 900px;

}