<div>
  <label for="movie">Movie Name</label>

  <input
    type=" text"
    placeholder="enter movie Name"
    [(ngModel)]="obj.name"
    id="movie"
  />
  <label for="poster">Movie poster</label>
  <input
    type="text"
    placeholder="enter postar url"
    [(ngModel)]="obj.poster"
    id="poster"
  />
  <label for="rating">Movie Rating</label>

  <input
    type="number"
    placeholder="enter rating"
    [(ngModel)]="obj.rating"
    id="rating"
  />
  <label for="summary"
    >Movie
    <summary></summary
  ></label>

  <input
    type="text"
    placeholder="enter summary"
    [(ngModel)]="obj.summary"
    id="Summary"
  />
  <button (click)="addMovie()">➕add Movie</button>
</div>

<section>
  @for (movie of MoviesList; track $index) {
  <app-movies [Movies]="movie" />
  }
</section>
