<!-- <body>
  <main class="main-conatiner">
    <div class="inner-container">
      <section>
        <img src="{{ poster }}" alt="" class="image-container" />
      </section>
      <br />
      <section class="content">
        <div class="head-container">
          <h1>{{ name }}</h1>
          <h1>⭐{{ rating }}</h1>
        </div>
        <p>{{ summary }}</p>
      </section>
    </div>
  </main>
</body> -->
<div class="main-container">
  <div class="image-container">
    <img src="{{ Movies.poster }}" alt="" class="image" />
  </div>
  <div class="content">
    <div class="head-container">
      <h2>{{ Movies.name }}</h2>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        (click)="Toggle()"
      >
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        routerLink="{{ id }}"
      >
        <mat-icon>info</mat-icon>
      </button>
      <h2>⭐{{ Movies.rating }}</h2>
    </div>

    <!-- <button mat-raised-button (click)="Toggle()">Description</button> -->

    <!-- <mat-button-toggle value="sugar">Sugar</mat-button-toggle>
    <button mat-button-toggle (click)="Toggle()">Toggle Description</button> -->
    @if(show) {
    <p>{{ Movies.summary }}</p>
    }
    <div class="bottom">
      <app-counter />
      <button mat-raised-button (click)="deleteMovie()">delete</button>
    </div>
  </div>
</div>

<!-- <body>
  <div class="main-container">
    <div class="image-container">
      <img src="{{ Movies.poster }}" alt="" />
    </div>
    <div class="content">
      <div class="head-container">
        <h1>{{ Movies.name }}</h1>
        <h1>⭐{{ Movies.rating }}</h1>
      </div>
      <p>{{ Movies.summary }}</p>
    </div>
  </div>
</body> -->
