<!-- <body>
  <main class="main-conatiner">
    <div class="inner-container">
      <section>
        <img src="{{ poster }}" alt="" class="image-container" />
      </section>
      <br />
      <section class="content">
        <div class="head-container">
          <h1>{{ name }}</h1>
          <h1>⭐{{ rating }}</h1>
        </div>
        <p>{{ summary }}</p>
      </section>
    </div>
  </main>
</body> -->

<div class="main-container">
  <div class="image-container">
    <img src="{{ Movies.poster }}" alt="" class="image" />
  </div>
  <div class="content">
    <div class="head-container">
      <h1>{{ Movies.name }}</h1>
      <h1>⭐{{ Movies.rating }}</h1>
    </div>
    <p>{{ Movies.summary }}</p>
  </div>
</div>
<!-- <body>
  <div class="main-container">
    <div class="image-container">
      <img src="{{ Movies.poster }}" alt="" />
    </div>
    <div class="content">
      <div class="head-container">
        <h1>{{ Movies.name }}</h1>
        <h1>⭐{{ Movies.rating }}</h1>
      </div>
      <p>{{ Movies.summary }}</p>
    </div>
  </div>
</body> -->
