<!-- <div class="main">
  <p>
    Cinema is a mirror of the world, reflecting our dreams, fears, and desires.
    It offers an escape from reality, transporting us into a realm where
    anything is possible and imagination knows no bounds. In the darkness of a
    movie theater, we find a light that guides us through the stories of our
    lives, illuminating our innermost thoughts and emotions with each frame.
  </p>
  <img src="" alt="" />
</div> -->
<div>
  <h1>Welcome to movies App🎊</h1>
</div>
